
<div class="container">
  <div class="pull-right">
    <form class="form-inline">
      <div class="form-group">
        <input ng-model="searchText" placeholder="Search" class="form-control"/>
      </div>
      <div class="form-group">
        <select ng-model="sortOrder" ng-options="item.value as item.text for item in vm.sortOptions" class="form-control"></select>
      </div>
    </form>
  </div>
  <table class="table table-hover table-stripped table-condensed">
    <thead>
      <tr>
        <th>Title</th>
        <th>Publish Date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="place in vm.places | filter:searchText | orderBy: vm.sortOrder">
        <td> <a href="/places/{{ place._id }}">{{ place.title }}</a></td>
        <td>{{ place.published | date }}</td>
      </tr>
    </tbody>
  </table>
</div>