
<div ng-controller="LoginController as vm" class="navbar-right">
  <form ng-hide="vm.identity.isAuthenticated()" class="navbar-form">
    <div class="form-group">
      <input placeholder="Email" ng-model="username" class="form-control"/>
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password" ng-model="password" class="form-control"/>
    </div>
    <button ng-click="vm.signin(username, password)" class="btn btn-primary">Signin</button>&nbsp;<a href="/signup" class="btn btn-default">Sign up</a>
  </form>
  <ul ng-show="vm.identity.isAuthenticated()" class="nav navbar-nav navbar-right">
    <li class="dropdown"> <a href="" data-toggle="dropdown" class="dropdown-toggle">{{ vm.identity.currentUser.firstName + " " + vm.identity.currentUser.lastName }}<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li ng-show="vm.identity.currentUser.isAdmin()"><a href="/admin/users">User Admin</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="" ng-click="vm.signout()">Sign Out</a></li>
      </ul>
    </li>
  </ul>
</div>